body {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    height: 55vh;
}

main > article {
    
}

main > nav, 
main > aside {
    background: #FAF4B7;
}

main > nav {
    float: left;
    width: 15vw;
    height: 100%;
}

header, footer {
    height: 15vh;
}

header {
    background: #CDF0EA;
}

article {
    background: #F9F9F9;
    height: 100%;
}

aside {
    position: absolute;
    right: 0;
    top: 0;
    width: 15vw;
    height: 100%;
    float: right;
}

footer {
background: #F6C6EA;
}

header, footer, article, nav, aside {
    
}